* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: var(--body-color);
	font-family: var(--body-font-family);
	margin: 0;
	position: relative;
}

h2,
h3,
a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

p,
li {
	color: #b8bbbd;
}

i {
	color: #fff;
}

span {
	color: #bdc0c2;
}
