* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--body-color);
	font-family: var(--body-font-family);
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	list-style: none;
}

button,
input {
	border: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}
