$--details-theme-color: #c99e11;
$--main-theme-color: #1e434c;
$--light-main-theme-color: #275864;
$--second-main-theme-color: #303030;
$--color-dark: #4d4d4d;
$--color-light: #a5a4a4;

body {
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	button {
		background-color: #fff;
		border: unset;
		cursor: pointer;
	}
	overflow-x: hidden;
}

header {
	background-color: $--main-theme-color;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.add__banner {
	width: 100%;
	background-color: $--main-theme-color;
	padding: 20px 10px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
	.add__text {
		font-size: 24px;
		color: #fff;
	}
}

.products {
	margin: 20px 10px;
	h2 {
		font-size: 20px;
		margin-bottom: 15px;
		font-weight: 700;
	}
}

.btn__show-more {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	.show-more {
		padding: 10px 30px;
		background-color: $--details-theme-color;
		border-radius: 10px;
		color: #fff;
		transition: box-shadow 1s ease-in-out;
		i {
			font-size: 24px;
		}
	}
}

.show-more:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid__item:nth-child(n + 5) {
	display: none;
}

.grid__item.is-visible {
	display: block;
}
