.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	.product {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease-in-out;
	}
}

.product:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}
