.swiper {
	width: 100%;
	height: 85vh;
	margin-top: -20px;
	.swiper-slide {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		.img__card {
			height: 90%;
			padding: 10px 10px;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			}
			.bottom-left {
				position: absolute;
				bottom: 10px;
				left: 16px;
				color: #fff;
				font-size: 24px;
				font-weight: 600;
			}
		}
	}
}

.swiper-pagination {
	bottom: 0;
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		line-height: 20px;
		font-size: 14px;
		background-color: $--details-theme-color;
	}
}
