.container {
	max-width: 1200px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		margin: 0 1rem;
	}
}

.main {
	margin-top: 55px;
}

.grid {
	display: grid;
}

.other {
	&__links {
		.link {
			font-size: 16px;
		}
	}
}

.section {
	a {
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		margin-top: 15px;
		&:hover > .link__title {
			text-decoration: underline;
		}
		.link__arrow {
			color: #44d62c;
		}
	}
}
