.footer {
	&__grid-container {
		grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
		row-gap: 2rem;
		@media (max-width: 767px) {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}
	}
	&__logo {
		width: 32px;
	}
	&__title {
		margin-bottom: 20px;
	}
	&__list {
		line-height: 2rem;
	}
	&__copy {
		text-align: center;
		margin-top: 9rem;
		font-size: 12px;
	}
	&__form {
		border-radius: 10px;
		background-color: #181a1b;
		padding: 10px;
		display: flex;
		margin-bottom: 20px;
		flex-wrap: nowrap;
		input {
			font-size: 18px;
			background-color: transparent;
			color: #fff;
			width: 90%;
		}
		button {
			color: #fff;
			padding: 1rem 1.25rem;
		}
	}
	.social {
		&-list {
			display: flex;
		}
		&-icon {
			text-align: center;
			border-radius: 5px;
			height: 32px;
			width: 32px;
			padding: 5px;
			margin-right: 20px;
			background-color: #181a1b;
		}
	}
}
