.header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 24px;
		height: 72px;
		margin: 0 auto;
		img {
			height: 32px;
			width: 32px;
		}
		&__list {
			display: flex;
			flex-direction: row;
			column-gap: 3.5rem;
		}
		&__link {
			background: var(--color-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 600;
			font-size: 16px;
		}
		&__link.active-link {
			background: #fff;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
