.home {
	display: flex;
	justify-content: space-between;
	height: auto;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: 576px) {
			display: block;
		}
	}
	&__img {
		position: relative;
		img {
			width: 300px;
			top: -250px;
			left: 80px;
			position: absolute;
			@media (max-width: 576px) {
				top: -350px;
				width: 250px;
			}
		}
	}
	&__text {
		padding-top: 4rem;
	}
	&__title {
		text-align: end;
		background: var(--color-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 7.5rem;
		margin-bottom: -30px;
		line-height: 7.5rem;
		@media (max-width: 576px) {
			font-size: 5rem;
			line-height: 6rem;
			text-align: start;
		}
	}
	&__subtitle {
		font-size: 4rem;
		margin-bottom: 40px;
		@media (max-width: 576px) {
			font-size: 2.5rem;
		}
	}
	&__title-description {
		margin-bottom: 24px;
		font-weight: 500;
	}
	&__description {
		line-height: 30px;
		padding-right: 70px;
		margin-bottom: 40px;
	}
	&__price {
		font-size: 1.25rem;
		font-weight: 600;
	}
}
