.home {
	display: flex;
	justify-content: space-between;
	height: auto;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__img {
		position: relative;
		img {
			width: 300px;
			top: -250px;
			left: 80px;
			position: absolute;
		}
	}
	&__text {
		padding-top: 4rem;
	}
	&__title {
		text-align: end;
		background: var(--color-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 7.5rem;
		margin-bottom: -30px;
		line-height: 7.5rem;
	}
	&__subtitle {
		font-size: 4rem;
		margin-bottom: 40px;
	}
	&__title-description {
		margin-bottom: 24px;
		font-weight: 500;
	}
	&__description {
		line-height: 30px;
		padding-right: 70px;
		margin-bottom: 40px;
	}
	&__price {
		font-size: 1.25rem;
		font-weight: 600;
	}
}
