.specs {
	&__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-items: center;
		position: relative;
		column-gap: 5rem;
		@media (max-width: 576px) {
			display: flex;
			max-width: 100%;
		}
	}
	&__grid-container {
		justify-self: end;
		row-gap: 1.5rem;
		align-items: center;
		justify-content: center;
	}
	.spec {
		&__title {
			font-weight: 300;
			font-size: 16px;
		}
		&__sub-title {
			font-weight: 200;
			font-size: 14px;
		}
		&__img {
			width: 250px;
			justify-self: start;
			@media (max-width: 576px) {
				position: absolute;
				right: -100px;
			}
		}
	}
	&__grid-container > :first-child,
	&__grid-container > :last-child {
		margin-left: 24px;
	}
}
