@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--body-color: #0f0f10;
	--body-font-family: Poppins, sans-serif;
	--color-gradient: linear-gradient(to bottom, #3f4042, #0a0b0b);
}
