.home {
	&__section {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		@media (max-width: 1196px) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			row-gap: 20px;
		}
	}
	&__greeting {
		grid-column: 1 / 9;
		background: linear-gradient(45deg, #4747479a, transparent, #47474749);
		padding: 0 58px;
		padding-top: 55px;
		padding-bottom: 62px;
		border-radius: 25px 50px 25px 50px;
		display: flex;
		flex-direction: column;
		row-gap: 39px;
		@media (max-width: 1196px) {
			grid-template-columns: 1fr;
			grid-column: 1;
			border-radius: 25px;
			padding: 22px;
		}
		.greeting {
			&__header {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: 1fr;
				@media (max-width: 1196px) {
					grid-template-columns: 1fr;
					grid-template-rows: repeat(2, 1fr);
					row-gap: 20px;
				}
				&-info {
					display: flex;
					align-items: center;
					column-gap: 10px;
					grid-column: 1 / 8;
					@media (max-width: 1196px) {
						grid-column: 1;
					}
				}
				&-img {
					height: 48px;
					width: 48px;
					border-radius: 100%;
					overflow: hidden;
					img {
						height: 48px;
						width: 48px;
					}
				}
				&-names {
					display: flex;
					flex-direction: column;
					&-subtitle {
						color: #474747;
						font-size: 12px;
					}
				}
			}
			&__main {
				display: flex;
				flex-direction: column;
				row-gap: 30px;
				&-text {
					font-size: 48px;
					width: 80%;
					@media (max-width: 1196px) {
						width: 100%;
						font-size: 28px;
					}
				}
				&-subtext {
					color: #9fa1a6;
					line-height: 24px;
					font-size: 16px;
					width: 65%;
					@media (max-width: 1196px) {
						width: 100%;
						font-size: 12px;
					}
				}
			}
			&__socials {
				&-list {
					display: flex;
					column-gap: 12px;
					justify-self: end;
					grid-column: 10 / 13;
					@media (max-width: 1196px) {
						grid-column: 1;
						justify-self: start;
					}
				}
				&-link {
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
					background: linear-gradient(20deg, #474747b8, transparent, #474747b8);
				}
			}
		}
	}
	&__img {
		&-block {
			grid-column: 9 / 13;
			background: linear-gradient(-20deg, #ffffffb8, #fed851, #fbf278b8);
			border-radius: 50px 25px 50px 25px;
			position: relative;
			overflow: hidden;
			@media (max-width: 1196px) {
				grid-template-columns: 1fr;
				grid-column: 1;
				border-radius: 25px;
			}
			img {
				width: 400px;
				height: 100%;
				position: absolute;
				bottom: 0;
				@media (max-width: 1196px) {
					width: 300px;
				}
			}
		}
	}
}
