* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #09050f;
	color: #ffffff;
	font-family: Lato;
}

a {
	color: #fff;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}
