.blade {
	height: 100vh;
	background-image: url('../images/blade__banner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	&__container {
		text-align: center;
	}
	&__title {
		font-size: 48px;
		font-weight: normal;
		margin-top: 60px;
	}
	&__subtitle {
		font-size: 24px;
		font-weight: normal;
		margin-top: 12px;
	}
	&__links {
		display: flex;
		column-gap: 2rem;
		justify-content: center;
	}
}
