.gear {
	height: 100vh;
	background-image: url('../images/gear__banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	&__container {
		text-align: center;
	}
	&__title {
		font-size: 48px;
		font-weight: normal;
		margin-top: 60px;
		@media (max-width: 1300px) {
			font-size: 28px;
		}
	}
	&__subtitle {
		font-size: 24px;
		font-weight: normal;
		margin-top: 12px;
		@media (max-width: 1300px) {
			font-size: 16px;
		}
	}
	&__links {
		display: flex;
		column-gap: 2rem;
		justify-content: center;
		.link {
			@media (max-width: 1300px) {
				font-size: 16px;
			}
		}
	}
}
